{%include "layout.html"%}
{% block body %}
{% include "nav.html" %}
<body style="font-family: Rubik;">
    <form method='POST' action='/analyse'>
        <img src="static/gr.jpg" style="height: 620px; width: 1905px;">
    <div class="container">

    <div class="card-panel" style="height: 1100px; width: 1200px;">
        <span class="black-text">
    
            <h3 style="text-align: left;">Get your relationships</h3>
            <br>
    <hr>
    <br>
    <span style="font-size: large; text-align: justify;">
       <p>This module allows you to get the relationships between various fields. If you want to see relationships like if cuisine and location are related to each other or not? Then this is for you. </p>
        <h4>Let's talk about correlations first!</h4>
        <h4>Positive correlation:</h4><p>Positive correlation is a relationship between two variables in which both variables move in tandem—that is, in the same direction. A positive correlation exists when one variable decreases as the other variable decreases, or one variable increases while the other increases.</p>
        <h4>Negative correlation:</h4><p>Negative correlation is a relationship between two variables in which one variable increases as the other decreases, and vice versa. </p>
        <h4>Strong correlation:</h4><p>The relationship between two variables is generally considered strong when their r value is larger than 0.7. The correlation r measures the strength of the linear relationship between two quantitative variables.</p>
        <h4>Weak correlation:</h4><p>A weak correlation means that as one variable increases or decreases, there is a lower likelihood of there being a relationship with the second variable. In a visualization with a weak correlation, the angle of the plotted point cloud is flatter. If the cloud is very flat or vertical, there is a weak correlation.</p>
        <br>
        <p><i>The final correlation analysis can be done combining the positive or negative aspect of the correlation value.</i></p><br>
       <div class="row">
        <button class="btn waves-effect waves-light">Perform Analysis
        </button>
        </div>

        </span>
    </div>
 
    </div>
</body>
{% endblock %}