{%include "layout.html"%}
{% block body %}
{% include "navigation.html" %}
<div class="container">
<h4>Enter Details</h4>
<form class="col s12" action="/index" method="POST">
  <div class="row">
    <div class="input-field col s12">
      <input id="location" type="text" name="location" class="validate">
      <label for="location">Location</label>
  </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
        <select name="online_order">
        <option value="" disabled selected>Choose</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        </select>
        <label>Online Order</label>
    </div>

      <div class="input-field col s6">
          <select name="book_table">
          <option value="" disabled selected>Choose</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          </select>
          <label>Book Table</label>
      </div>
  </div>

  <div class="row">
  <div class="input-field col s12">
    <input id="cost" type="text" name="cost" class="validate">
    <label for="cost">Approx cost for two</label>
  </div>
</div>

  <div class="row">
  <div class="input-field col s12">
    <input id="cuisine" type="text" name="cuisine" class="validate">
    <label for="cuisine">Cuisine</label>
  </div>
</div>

<div class="row">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
  </button>

</div>


  </form>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, {yearRange: 70, format: 'yyyy-mm-dd'});
        
            var selMenu = document.querySelectorAll('select');
            var selinstances = M.FormSelect.init(selMenu, {});

            $('textarea#med').characterCounter();
            $('textarea#address').characterCounter();

        });
    </script>
{% endblock %}