{%include "layout.html"%}
{% block body %}
{% include "nav.html" %}
<body>
    <form method='POST' action="/form">
<div class="container">
<h3>Predictions and Recommendation</h3>
<h4>Are you sure you have the vision for your to be restaurant? If so then GREAT! Let's check the feasibility of your to be restaurant.</h4>
<br>
<p>Instructions:</p>
<p>Choose the fields. You must have some ideas in your head as to how want to rock the tastebuds of Bangaloreans. Choose among the given options and let's check the feasibility and predicted rating.</p>
<p>In case you are not happy with the rating then no need to worry much. We are here to save you. We provide recommendations as well to the lower predicted rating. These recommendations are analysed by the current trend in Bangalore and honestly these points are the reason which will help you get a better rating. </p>
<h5>Let's dive in!</h5>
<div class="row">
    <button class="btn waves-effect waves-light">Predict
    </button>
</div>
</div>
</form>

</body>
{% endblock %}