{%include "layout.html"%}
{% block body %}
{% include "navigation.html" %}
<div class="container">
<h4>Enter Details</h4>
<form class="col s12" action="/result" method="POST">
  <div class="row">
    <div class="input-field col s12">
      <select name="location">
      <option value="" disabled selected>Choose</option>
      {% for key,value in location.items() %}
          <option value={{value}}>{{key}}</option>
      {% endfor %}
    
    </select>
      <label>Location</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
        <select name="online_order">
        <option value="" disabled selected>Choose</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        </select>
        <label>Online Order</label>
    </div>
  </div>
  <div class="row">
      <div class="input-field col s12">
          <select name="book_table">
          <option value="" disabled selected>Choose</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          </select>
          <label>Book Table</label>
      </div>
  </div>

  <div class="row">
  <div class="input-field col s12">
    <input id="cost" type="text" name="cost" class="validate">
    <label for="cost">Approx cost for two</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <select name="cuisine">
    <option value="" disabled selected>Choose</option>
    {% for key,value in cuisines.items() %}
        <option value={{value}}>{{key}}</option>
    {% endfor %}
  
  </select>
    <label>Cuisine</label>
</div>
</div>
  <div class="row">
    <div class="input-field col s12">
    <div class="chips chips-autocomplete chips-placeholder "></div>
    
</div>
</div>
<div class="row">
<div class="input-field col s12">
  <select name="rest_type">
  <option value="" disabled selected>Choose</option>
  {% for key,value in restype.items() %}
      <option value={{value}}>{{key}}</option>
  {% endfor %}

</select>
  <label>Restaurant Type</label>
</div>

</div>


<div class="row">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
  </button>

</div>


  </form>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, {yearRange: 70, format: 'yyyy-mm-dd'});
        
            var selMenu = document.querySelectorAll('select');
            var selinstances = M.FormSelect.init(selMenu, {});

            $('textarea#med').characterCounter();
            $('textarea#address').characterCounter();

        });
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.chips');
        var instances = M.Chips.init(elems, options);
        });
        $('.chips-autocomplete').chips({
    autocompleteOptions: {
      data: {
        'Apple': null,
        'Microsoft': null,
        'Google': null
      },
      limit: Infinity,
      minLength: 1
    }
  });
  $('.chips-placeholder').chips({
    placeholder: 'Enter a Cuisine',
  });
    </script>
{% endblock %}