{%include "layout.html"%}
{% block body %}
{% include "nav.html" %}
<div class="container">
<h4>Enter Details</h4>
<form class="col s12" action="/results" method="POST">
  
  <div class="row">
    <div class="col">
      <i class="material-icons tooltipped " data-position="bottom" data-tooltip="Form">phone_android</i>
      </div>
    <div class="input-field col s11">
        <select name="online_order">
        <option value="" disabled selected>Choose</option>
        <option value=0>Yes</option>
        <option value=1>No</option>
        </select>
        <label>Online Order</label>
    </div>
  </div>
  

  <div class="row">
    <div class="col">
      <i class="material-icons tooltipped " data-position="bottom" data-tooltip="Form">event_seat</i>
      </div>
    <div class="input-field col s11">
        <select name="book_table">
        <option value="" disabled selected>Choose</option>
        <option value=0>Yes</option>
        <option value=1>No</option>
        </select>
        <label>Book Table</label>
    </div>
</div>  
  

<div class="row">
  <div class="col">
  <i class="material-icons tooltipped " data-position="bottom" data-tooltip="Form">restaurant</i>
  </div>
  <div class="input-field col s11">
    <select name="rest_type">
    <option value="" disabled selected>Choose</option>
    {% for key,value in restype.items() %}
        <option value={{value}}>{{key}}</option>
    {% endfor %}
  
  </select>
    <label>Restaurant Type</label>
  </div>
  </div>


  <div class="row">
    <div class="col">
      <i class="material-icons tooltipped " data-position="bottom" data-tooltip="Form">room_service</i>
      </div>
    <div class="input-field col s11">
      <select name="cuisine">
      <option value="" disabled selected>Choose</option>
      {% for key,value in cuisines.items() %}
          <option value={{value}}>{{key}}</option>
      {% endfor %}
    
    </select>
      <label>Cuisine</label>
  
    </div>
  
  </div>


  <div class="row">
    <div class="col">
      <i class="material-icons tooltipped " data-position="bottom" data-tooltip="Form">attach_money</i>
      </div>
    <div class="input-field col s11">
      <input id="cost" type="text" name="cost" class="validate">
      <label for="cost">Approx cost for two</label>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <i class="material-icons tooltipped " data-position="bottom" data-tooltip="Form">location_on</i>
      </div>
    <div class="input-field col s11">
      <select name="location">
      <option value="" disabled selected>Choose</option>
      {% for key,value in location.items() %}
          <option value={{value}}>{{key}}</option>
      {% endfor %}
    
    </select>
      <label>Location</label>
    </div>
  </div>



<!--
  <div class="row">
    <div class="input-field col s12">
    <div class="chips chips-autocomplete chips-placeholder "></div>
    
</div>
</div>
-->



<div class="row">
    <button class="btn waves-effect waves-light">Submit
    </button>
</div>
</form>

</div>
<style>
.material-icons
{
  font-size: 40px;
  padding: 5px;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, {yearRange: 70, format: 'yyyy-mm-dd'});
        
            var selMenu = document.querySelectorAll('select');
            var selinstances = M.FormSelect.init(selMenu, {});

            $('textarea#med').characterCounter();
            $('textarea#address').characterCounter();

        });
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.chips');
        var instances = M.Chips.init(elems, options);
        });
        $('.chips-autocomplete').chips({
    autocompleteOptions: {
      data: {
        'Apple': null,
        'Microsoft': null,
        'Google': null
      },
      limit: Infinity,
      minLength: 1
    }
  });
  $('.chips-placeholder').chips({
    placeholder: 'Enter a Cuisine',
  });
    </script>
{% endblock %}