{%include "layout.html"%}
{% block body %}
{% include "nav.html" %}
<div class="container">
<h4>Home Sweet Home</h4>
<img src= {{ url_for('static',filename='img1.png') }} alt="User Image1"/>
<img src= {{ url_for('static',filename='img2.png') }} alt="User Image2"/>
<img src= {{ url_for('static',filename='img3.png') }} alt="User Image3"/>
<img src= {{ url_for('static',filename='img4.png') }} alt="User Image4"/>
<img src= {{ url_for('static',filename='img5.png') }} alt="User Image5"/>
<p> Carousel </p>



  <div class="carousel carousel-slider center">
    <div class="carousel center">
      <a class="btn waves-effect black-text grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item white black-text" href="#one!">
      <h2>First Panel</h2>
      <img src= {{ url_for('static',filename='img1.png') }} alt="User Image1"/>
    </div>
    <div class="carousel-item white black-text" href="#two!">
      <h2>Second Panel</h2>
      <img src= {{ url_for('static',filename='img2.png') }} alt="User Image2"/>
    </div>
    <div class="carousel-item white black-text" href="#three!">
      <h2>Third Panel</h2>
      <img src= {{ url_for('static',filename='img3.png') }} alt="User Image3"/>
    </div>
    <div class="carousel-item white black-text" href="#four!">
      <h2>Fourth Panel</h2>
      <img src= {{ url_for('static',filename='img4.png') }} alt="User Image4"/>
    </div>
  </div>
  <p>End</p>



</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
 
 var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true
  });

  // Or with jQuery

  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });

</script>
{% endblock %}