{%include "layout.html"%}
{% block body %}
{% include "navigation.html" %}
<body id="top">
   

  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- Top Background Image Wrapper -->
  <div class="bgded" style="background-image:url('static/cafe.jpeg');"> 
    <!-- ################################################################################################ -->
    <div id="pageintro" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <article>
        <p>Magnis dis parturient</p>
        <h3 class="heading">Montes nascetur ridiculus</h3>
        <footer>
          <ul class="nospace inline pushright">
            <li><a class="btn" href="#">Suspendisse</a></li>
            <li><a class="btn inverse" href="#">Venenatis</a></li>
          </ul>
        </footer>
      </article>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
  </div>
  <!-- End Top Background Image Wrapper -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <main class="hoc container clear"> 
      <!-- main body -->
      <!-- ################################################################################################ -->
      <section id="introblocks" class="row3 inspace-30 clear">
        <div class="one_half first">
          <h6 class="heading">About</h6>
          <p class="heading font-x3">ZAAR(Zomato Analysis and Recommendation) is a prediction, recommendation and visualization based system for to be opened restaurants.</p>
        </div>
        <div class="one_half">
          <ul class="nospace group">
            <li class="one_half first btmspace-30">
              <h6 class="heading">Prediction</h6>
              <p>You vision your to be restaurant, we provide the prediction of your to be restaurant. Use the predicted rating for the feasibility check of your to be business</p>
            </li>
            <li class="one_half btmspace-30">
              <h6 class="heading">Recommendation</h6>
              <p>If your idea does not fetch you the desired rating then you can use these recommendations based upon the current business status in Bangalore.</p>
            </li>
            <li class="one_half first">
              <h6 class="heading">Get some idea</h6>
              <p>If you are new to this field then you can analyse the current pracitces by the restaurants available in Bangalore. Here you can see some pre generated visualization by graphs.</p>
            </li>
            <li class="one_half">
              <h6 class="heading">Dig deeper into analysis</h6>
              <p>If you feel you want further analysis than the defaulty given visualizations. We give you the option to make your own visualizations and interpert it on your own.</p>
            </li>
          </ul>
        </div>
      </section>
      <!-- ################################################################################################ -->
      <section id="services">
        <div class="sectiontitle">
          <p class="nospace font-xs">Services</p>
          <h6 class="heading font-x2">Choose the provided Services to get ahead in your business idea.</h6>
        </div>
        <ul class="nospace group">
          <li class="one_quarter">
            <article><a href="#"><i class="fas fa-line-chart"></i></a>
              <h6 class="heading">Visualizations</h6>
              <p>These pre generated graphs will give you an insight into the current practices and trends followed by restaurants in Bangalore.</p>
            </article>
          </li>
          <li class="one_quarter">
            <article><a href="#"><i class="fas fa-bar-chart"></i></a>
              <h6 class="heading">Choose your visualizations</h6>
              <p>If you think that the pre generated graphs didn't help you much or you just want to see more relationships, then this service is for you.</p>
            </article>
          </li>
          <li class="one_quarter">
            <article><a href="#"><i class="fas fa-cog"></i></a>
              <h6 class="heading">Prediction</h6>
              <p>Do you feel you are ready to take the city's tastebuds by storm? Why don't you get a headstart by checking it's feasibility and predicted rating!</p>
            </article>
          </li>
          <li class="one_quarter">
            <article><a href="#"><i class="fas fa-navicon"></i></a>
              <h6 class="heading">Recommendations</h6>
              <p>Do you feel your ideas are not par with the current practices? Don't you worry child, we have recommendations to help you with that.</p>
            </article>
          </li>
        </ul>
      </section>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  <!-- ################################################################################################ -->
  <div class="wrapper row2">
    <article class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="one_half first">
        <h6 class="heading font-x3">Prediction</h6>
        <p>Let's predict the future of your business!</p>
        <p class="btmspace-30">Do you think you are ready? Do you think your ideas are at par? Is it enough to rock the tastebuds of Bangaloreans? If you are willing to check the prediction of your to be restaurant, then this is for you. We have used Machine Learning alogrithm to analyse the current trend in Bangalore. So let's dive in and check if your ideas are going to give you the desired ratings or not? Even if you don't get the rating that you wanted, don't you worry we have recommendations available for you to maker it better. Isn't this the whole deal? What are you waiting for? Let's go!&hellip;</p>
        <footer><a class="btn" href="/form">Prediction</a></footer>
      </div>
      <div class="one_half"><a class="imgover" href="#"><img class="borderedbox inspace-10" src="" alt="static/predict.png"></a></div>
      <!-- ################################################################################################ -->
    </article>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="bgded overlay row4" style="background-image:url('static/res.jpg');">
    <footer id="footer" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="group">
        <div class="one_quarter first">
          <h1 class="logoname"><a href="index.html">ZA<span>AR</span></a></h1>
          <p>ZAAR(Zomato Analysis and Recommendations) is here to save your trips and money to consultancy firms to check the feasibility of your to be restaurant. Use this to predict, visualize and get recommnded abour your business idea to open your own restaurant.</p>
          <ul class="faico clear">
            <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Want to reach us?</h6>
          <p class="nospace btmspace-15">Fill in your details(name and email) and we will get back to you as soon as possible.</p>
          <form action="#" method="post">
            <fieldset>
              <legend>Newsletter:</legend>
              <input class="btmspace-15" type="text" value="" placeholder="Name">
              <input class="btmspace-15" type="text" value="" placeholder="Email">
              <button class="btn" type="submit" value="submit">Submit</button>
            </fieldset>
          </form>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Quick Links</h6>
          <ul class="nospace linklist">
            <li><a href="/form">Prediction</a></li>
            <li><a href="/home">General Visualizations</a></li>
            <li><a href="/dynamic">Your visualizations</a></li>
          </ul>
        </div>
      </div>
      <!-- ################################################################################################ -->
      <figure id="ctdetails">
        <ul class="nospace group">
          <li class="one_third first">
            <div class="clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong>+91 9031734884</span></div>
          </li>
          <li class="one_half">
            <div class="clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> vaishnavisingh.1509@gmail.com</span></div>
          </li>
        </ul>
      </figure>
      <!-- ################################################################################################ -->
    </footer>
  </div>
  <!-- ################################################################################################ -->
  
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="static/layout/scripts/jquery.min.js"></script>
  <script src="static/layout/scripts/jquery.backtotop.js"></script>
  <script src="static/layout/scripts/jquery.mobilemenu.js"></script>



</body>
{% endblock %}


