{%include "layout.html"%}
{% block body %}
{% include "nav.html" %}
<div class="container">
<h4>Home Sweet Home</h4>
<img src="images\img1.png">
<img src="images\img2.png">
<img src="images\img3.png">
<img src="images\img4.png">
<img src="images\img5.png">







<!--
  <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>First Panel</h2>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images\img2.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>




      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>Fifth Panel</h2>
      <p class="white-text">This is your fifth panel</p>
    </div>
  </div>
-->

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
 
 var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true
  });

  // Or with jQuery

  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });

</script>
{% endblock %}